<mat-card>
    <div class="card-content">
      <div class="left-content">
        <mat-card-title class="title">Mejora tu productividad en el proceso alimenticio</mat-card-title>
        <div class="separator"></div>
        <mat-card-content class="text-content">Utiliza Recipe Realm, esta app te acompañará durante el proceso de búsqueda, planificación y elaboración de un platillo.</mat-card-content>
        <mat-card-content class="text-content">Únete a este cambio de paradigma.</mat-card-content>
        <button class="download-button" routerLink="/download">
          <span class="button-text">Descargar</span>
        </button>
      </div>
      <div class="right-content">
        <img src="https://media.istockphoto.com/id/1198401645/photo/millennial-guy-standing-on-domestic-kitchen-holds-smartphone-searching-recipes.jpg?s=612x612&w=0&k=20&c=go2ZorRULyqWNuUIeML1sivWUlu5GF5cZStzdnei3aA=" alt="Imagen" (click)="youtube()">
      </div>
    </div>
</mat-card>
<mat-card>
    <div class="card-content">
        <mat-card-title class="title">Aprende sobre los Beneficios de Recipe Realm</mat-card-title>
        <button class="download-button" routerLink="/product">
            <span class="button-text">Más Info.</span>
        </button>
    </div>
</mat-card>

