<div class="team-info-container">
    <div class="team-info-text">
        <h1>Conoce a nuestro Equipo</h1>
        <p>Somos estudiantes de la UPC, nuestra idea es ofrecer una plataforma que vuelva eficiente la tarea de cocinar</p>
        <p>
            Cielo Brisa Puntillo Mueras U201920124<br>
            José Carlos Vara Quispe u202125116<br>
            Alonso Moises Garcia Murga u202110867<br>
            Rodrigo Andrés López Takahashi - u201615003
        </p>
    </div>
    <div class="team-info-images">
        <h2>Enterate de nuestros avances</h2>
        <a href="https://upcedupe-my.sharepoint.com/:w:/g/personal/u202110867_upc_edu_pe/EWymnlS-ueZBmWvLSLpMRfEB8_XbtEXv4peia7WS14dU8g?e=cvMtCd" target="_blank">
            <img src="https://icons.iconarchive.com/icons/carlosjj/microsoft-office-2013/256/Word-icon.png" class="team-image">
        </a>
        <a href="https://github.com/CC238-FusionHub" target="_blank">
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" class="team-image">
        </a>
    </div>
</div>